# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
cmake/cython_test.cpp

# Compiled Object Files, Static/Dynamic Libraries
*.so
*.a
*.o
*.out
csympy/lib/csympy_wrapper.cpp

# Documentation
doc/_build
doc/doxyxml
doc/html

# Config Files
src/symengine_config.h
src/teuchos/Teuchos_config.h

# Python build files
build*
*__pycache__*
*.pyc

# Temp files
*~

Testing

# Test executables
src/tests/basic/test_arit
src/tests/basic/test_basic
src/tests/basic/test_functions
src/tests/basic/test_integer
src/tests/basic/test_poly
src/tests/basic/test_subs
src/tests/matrix/test_matrix
src/tests/ntheory/test_ntheory
src/tests/ntheory/test_diophantine
src/tests/printing/test_printing
src/tests/rcp/test_rcp
src/tests/cwrapper/test_cwrapper
src/tests/eval/test_eval_double

# Benchmarks executables
benchmarks/add1
benchmarks/eval_double1
benchmarks/expand1
benchmarks/expand2
benchmarks/expand2b
benchmarks/expand3
benchmarks/matrix_add1
benchmarks/matrix_add2
benchmarks/matrix_mul1
benchmarks/matrix_mul2
benchmarks/matrix_add1_ginac
benchmarks/matrix_add2_ginac
benchmarks/matrix_mul1_ginac
benchmarks/matrix_mul2_ginac
benchmarks/symbench
benchmarks/symbench_ginac
