# Prevent git from showing duplicate names with commands like "git shortlog"
# See the manpage of git-shortlog for details.
# The syntax is:
# Name that should be used <email that should be used> Bad name <bad email>
#
# You can skip Bad name if it is the same as the one that should be used, and is unique.
#
# This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# gives no duplicates.
Ondřej Čertík <ondrej.certik@gmail.com> Ondrej Certik <ondrej.certik@gmail.com>
Sushant Hiray <hiraysushant@gmail.com> sushant <hiraysushant@gmail.com>
Sushant Hiray <hiraysushant@gmail.com> Sushant <hiraysushant@gmail.com>
Thilina Bandara Rathnayake <thilinarmtb@gmail.com> thilinarmtb <thilinarmtb@gmail.com>
Thilina Bandara Rathnayake <thilinarmtb@gmail.com> Thilina Bandara Rathanyake <thilinarmtb@gmail.com>
Peter Brady <petertbrady@gmail.com> Peter Brady <ptb@lanl.gov>
Isuru Fernando <isuruf@gmail.com> Isuru Fernando <isuru.11@cse.mrt.ac.lk>
Shivam Vats <shivamvats.iitkgp@gmail.com> Shivam Vats <shivamvats@users.noreply.github.com>
Sanka Rasnayaka <nuwan.ras@gmail.com> SankaGIT <nuwan.ras@gmail.com>
